<h1><%=email_to_showname(current_user.email)%>'s profile</h1>
<!-- <p>Find me in app/views/users/profile.html.erb</p> -->

Your email: <%=current_user.email%><br>
Your hashed password: <%=current_user.encrypted_password%> <strong>(you are safe)</strong>
